ul, body, html {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #60606E;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input[type=submit], button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  color: #60606E;
  font-family: "Open Sans", sans-serif;
}

button:hover, input[type=submit]:hover, button:focus:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

input {
  outline: none;
}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #60606E;
  font-size: 14px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.content-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.fotorama {
  width: 720px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #60606E;
  font-family: "Montserrat", sans-serif;
}

.header .head {
  margin-top: 20px;
}

.header .head__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .head__phone {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #0B6F4B;
}

.header .navigation {
  margin-top: 20px;
}

.header .navigation__toggle {
  display: none;
}

.header .navigation .menu {
  display: flex;
  height: 30px;
  align-items: center;
}

.header .navigation .menu__item {
  padding-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .navigation .menu__item a:hover {
  color: #0B6F4B;
}

@media (max-width: 575px) {
  .header {
    padding: 10px;
    z-index: 0;
  }
  .header .navigation__toggle {
    opacity: 0;
  }
  .header .navigation__button {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header .navigation__button > span,
  .header .navigation__button > span::before,
  .header .navigation__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0B6F4B;
  }
  .header .navigation__button > span::before {
    content: '';
    top: -8px;
  }
  .header .navigation__button > span::after {
    content: '';
    top: 8px;
  }
  .header .navigation .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 200px;
    height: 216px;
    margin: 25px 0;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition-duration: .25s;
  }
  .header .navigation .menu__item {
    box-sizing: border-box;
    height: 36px;
    padding: 0 5px;
  }
  .header .navigation .menu__item:hover {
    border-left: 2px solid #0B6F4B;
  }
  .header .navigation .menu__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 35px;
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span {
    transform: rotate(45deg);
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header .navigation__toggle:checked ~ .menu {
    visibility: visible;
    display: block;
    right: 5px;
  }
  .header .navigation {
    z-index: 1;
  }
  .header .head__title {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding: 10px;
  }
  .header .navigation__toggle {
    opacity: 0;
  }
  .header .navigation__button {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header .navigation__button > span,
  .header .navigation__button > span::before,
  .header .navigation__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0B6F4B;
  }
  .header .navigation__button > span::before {
    content: '';
    top: -8px;
  }
  .header .navigation__button > span::after {
    content: '';
    top: 8px;
  }
  .header .navigation .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 200px;
    height: 216px;
    margin: 25px 0;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition-duration: .25s;
  }
  .header .navigation .menu__item {
    box-sizing: border-box;
    height: 36px;
    padding: 0 5px;
  }
  .header .navigation .menu__item:hover {
    border-left: 2px solid #0B6F4B;
  }
  .header .navigation .menu__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 35px;
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span {
    transform: rotate(45deg);
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header .navigation__toggle:checked ~ .header .navigation__button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header .navigation__toggle:checked ~ .menu {
    visibility: visible;
    display: block;
    right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .header {
    padding: 10px;
  }
  .header .head__title {
    font-size: 20px;
  }
  .header .navigation .menu {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.section-main-title {
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

.section-main-title .top-min-title {
  width: 120px;
  margin: 0 auto;
  background-color: #0B6F4B;
  color: #ffffff;
  font-size: 18px;
}

.section-main-title .title {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: 10px solid #60606E;
}

.section-main-title .subtitle {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.section-main-title .subtitle-pages {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #0B6F4B;
}

@media (max-width: 575px) {
  .section-main-title {
    padding: 10px;
  }
  .section-main-title .title {
    font-size: 26px;
  }
  .section-main-title .subtitle {
    font-size: 16px;
  }
  .section-main-title .subtitle-pages {
    width: 80%;
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-main-title {
    padding: 10px;
  }
}

.section-feedback-form {
  display: flex;
  width: 100%;
  margin-top: 200px;
  background-color: #0B6F4B;
}

.section-feedback-form .block-left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 40px;
  color: #ffffff;
}

.section-feedback-form .block-left-content__header {
  font-size: 30px;
  line-height: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.section-feedback-form .block-left-content__button-form {
  width: 165px;
  height: 50px;
  margin-top: 20px;
  color: #0B6F4B;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.section-feedback-form .block-left-content__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 48px;
  font-weight: bold;
}

.section-feedback-form .window {
  width: 35%;
  margin: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.section-feedback-form .window__header {
  margin: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.section-feedback-form .window__paragraph {
  margin: 0 20px 20px;
  font-size: 16px;
}

.section-feedback-form .window .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-feedback-form .window .form .block-left-input {
  width: 50%;
}

.section-feedback-form .window .form__input {
  width: 200px;
  height: 25px;
  margin: 0 40px 20px 20px;
  border: 1px solid #0B6F4B;
}

.section-feedback-form .window .form__input_type_submit {
  width: 150px;
  height: 50px;
  background-color: #0B6F4B;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 575px) {
  .section-feedback-form {
    flex-direction: column;
  }
  .section-feedback-form .block-left-content {
    display: none;
  }
  .section-feedback-form .window {
    width: 90%;
    margin: 40px auto;
  }
  .section-feedback-form .window__header {
    font-size: 18px;
  }
  .section-feedback-form .window__paragraph {
    font-size: 14px;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
  .section-feedback-form .window .form__input:not([type=submit]) {
    width: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-feedback-form {
    flex-direction: column;
  }
  .section-feedback-form .block-left-content {
    display: none;
  }
  .section-feedback-form .window {
    width: 90%;
    margin: 40px auto;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
  .section-feedback-form .window .form__input:not([type=submit]) {
    width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-feedback-form .block-left-content__header {
    font-size: 28px;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
}

@media (min-width: 1300px) {
  .section-feedback-form {
    width: 1280px;
    position: relative;
    right: 40px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  margin-top: 50px;
}

.footer .menu {
  display: flex;
}

.footer .menu__item {
  padding-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer .menu__item a:hover {
  color: #0B6F4B;
}

.footer .social {
  display: flex;
}

.footer .social__item img {
  width: 35px;
}

@media (max-width: 575px) {
  .footer {
    padding: 10px;
    height: 50px;
    margin-top: 0;
    flex-wrap: nowrap;
  }
  .footer .menu {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    padding: 10px;
  }
  .footer .menu {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .footer {
    padding: 10px;
  }
}

.modal-form {
  width: 1000px;
  background: white;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 16px;
  margin: 0 auto;
  z-index: 2;
  display: none;
  position: absolute;
  padding: 15px;
  border: 5px solid #0B6F4B;
}

.modal-form__mobile-version {
  display: none;
}

.modal-form .clear {
  clear: both;
}

.modal-form .form__header {
  text-align: center;
  font-size: 30px;
  color: #60606E;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-form .form__additional-header {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #60606E;
  font-size: 20px;
  font-weight: bold;
}

.modal-form .form__paragraph {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
}

.modal-form .form .fio, .modal-form .form .phone, .modal-form .form .adress, .modal-form .form .email, .modal-form .form .height, .modal-form .form .lift {
  height: 50px;
}

.modal-form .form .data, .modal-form .form .info, .modal-form .form .type, .modal-form .form .design, .modal-form .form .redevelopment, .modal-form .form .mono, .modal-form .form .sant, .modal-form .form .floor, .modal-form .form .drywall, .modal-form .form .heating, .modal-form .form .door_meg, .modal-form .form .warming, .modal-form .form .kond {
  height: 100px;
}

.modal-form .form .dem, .modal-form .form .electro, .modal-form .form .alignment_wall, .modal-form .form .alignment_ceiling, .modal-form .form .windows, .modal-form .form .gidro, .modal-form .form .sound {
  height: 150px;
}

.modal-form .form .radiator {
  height: 180px;
}

.modal-form .form .design, .modal-form .form .area, .modal-form .form .wall, .modal-form .form .gas, .modal-form .form .door, .modal-form .form .warm_floor, .modal-form .form .total_budget, .modal-form .form .works_budget, .modal-form .form .black_works_budget, .modal-form .form .white_works_budget, .modal-form .form .furniture_budget {
  height: 70px;
}

.modal-form .form label {
  float: left;
  display: block;
  width: 20%;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #0B6F4B;
  margin-bottom: 5px;
}

.modal-form .form .lab {
  cursor: pointer;
}

.modal-form .form .point, .modal-form .form .point_right {
  width: 50%;
  float: left;
  position: relative;
  left: 35px;
}

.modal-form .form .point input[type=checkbox], .modal-form .form .point_right input[type=checkbox] {
  display: none;
}

.modal-form .form .point label, .modal-form .form .point_right label {
  width: 40%;
  height: 36px;
}

.modal-form .form .point label::after, .modal-form .form .point_right label::after {
  content: "";
  position: absolute;
  left: 190px;
  background: white;
  width: 34px;
  height: 34px;
  top: 0;
  border: 1px solid #0B6F4B;
}

.modal-form .form .point input[type=checkbox]:checked + label:after, .modal-form .form .point input[type=checkbox]:hover + label:after, .modal-form .form .point_right input[type=checkbox]:checked + label:after, .modal-form .form .point_right input[type=checkbox]:hover + label:after {
  content: "\2713";
  width: 36px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 30px;
  background: #0B6F4B;
}

.modal-form .form .point input[type=number], .modal-form .form .point_right input[type=number] {
  height: 36px;
  position: relative;
  left: 33px;
  border: 1px solid #0B6F4B;
}

.modal-form .form .point input[type=number]::placeholder, .modal-form .form .point_right input[type=number]::placeholder {
  padding: 5px;
}

.modal-form .form input[type=submit] {
  color: white;
  background: #0B6F4B;
  height: 50px;
  border: 1px solid #0B6F4B;
  width: 165px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 405px;
}

.modal-form .form input[type=submit]:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.modal-form .form textarea {
  float: right;
  height: 100%;
  width: 80%;
  font-size: 18px;
  border: 1px solid #0B6F4B;
  resize: none;
}

.modal-form .form textarea::placeholder {
  padding: 0 5px;
}

.modal-form .form textarea:focus {
  outline: none;
}

.modal-form .form .questions {
  width: 100%;
  height: 100px;
}

@media (max-width: 767px) {
  .modal-form {
    width: 90%;
  }
  .modal-form .form {
    display: none;
  }
  .modal-form__mobile-version {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .modal-form {
    width: 90%;
  }
}

.section-services {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.section-services .block-list__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-services .block-list__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-services .block-list .main-list__button, .section-services .block-list .additional-list__button {
  width: 100%;
  padding: 15px;
  border: 1px solid #cdcdcd;
  border-bottom: none;
  background-color: #ffffff;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}

.section-services .block-list .main-list__button:hover, .section-services .block-list .additional-list__button:hover {
  box-shadow: none;
  border-left: 3px solid #0B6F4B;
  color: #0B6F4B;
}

.section-services .block-list .button-last {
  border-bottom: 1px solid #cdcdcd;
}

.section-services .block-list .main-list {
  margin-top: 25px;
}

.section-services .block-list .main-list__item {
  position: relative;
  width: 250px;
  height: 50px;
  z-index: 1;
}

.section-services .block-list .main-list__finishing-work {
  position: relative;
  z-index: 1;
}

.section-services .block-list .main-list .additional-list {
  position: relative;
  left: 0;
  z-index: 0;
  bottom: 50px;
  transition: left 0.5s ease-out;
}

.section-services .block-list .main-list__finishing-work:hover + .additional-list, .section-services .block-list .main-list .additional-list:hover {
  left: 250px;
  margin-bottom: 50px;
}

.section-services .block-content {
  width: 70%;
}

.section-services .block-content .block-item {
  display: none;
}

.section-services .block-content .block-item__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-services .block-content .block-item__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-services .block-content .block-item__img {
  width: 40%;
  float: right;
  margin-top: 20px;
  margin-left: 50px;
}

.section-services .block-content .block-item__paragraph {
  margin-top: 10px;
  line-height: 30px;
  text-align: justify;
}

.section-services .block-content .block-item__button {
  width: 165px;
  height: 50px;
  margin: 20px auto;
  background-color: #0B6F4B;
}

.section-services .block-content .block-item__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 48px;
  font-weight: bold;
  color: #ffffff;
}

.section-services .block-content .block-item__list {
  margin-left: 25px;
  list-style-type: initial;
}

.section-services .block-content .block-table {
  display: none;
}

.section-services .block-content .block-table__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-services .block-content .block-table__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-services .block-content .table {
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

.section-services .block-content .table__header {
  text-align: left;
  font-size: 20px;
  background: #0B6F4B;
  border: 1px solid #60606E;
}

.section-services .block-content .table__caption {
  margin-bottom: 10px;
  text-align: left;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}

.section-services .block-content .table__center {
  background: #60606E;
  color: white;
  text-align: center;
}

.section-services .block-content .table tr {
  border: 1px solid #60606E;
  width: 800px;
}

.section-services .block-content .table tr td, .section-services .block-content .table tr th {
  padding: 5px;
  width: 150px;
  border: 1px solid #60606E;
}

.section-services .block-content .table tr td:first-of-type, .section-services .block-content .table tr th:first-of-type {
  width: 800px;
}

.section-services .block-content .table tr:nth-of-type(2n + 1) {
  background: #cdcdcd;
}

.section-services .block-content .table tr:first-of-type, .section-services .block-content .table tr:hover {
  background: #0B6F4B;
  color: white;
}

@media (max-width: 575px) {
  .section-services {
    padding: 10px;
    flex-direction: column;
  }
  .section-services .block-list__header {
    width: 100px;
  }
  .section-services .block-list .main-list {
    height: 775px;
    margin-top: 0;
  }
  .section-services .block-list .main-list__item {
    position: static;
  }
  .section-services .block-list .main-list .additional-list {
    top: 400px;
    transition: none;
  }
  .section-services .block-list .main-list__finishing-work {
    display: none;
  }
  .section-services .block-list .main-list__finishing-work:hover + .additional-list, .section-services .block-list .main-list .additional-list:hover {
    left: 0;
    margin-bottom: 50px;
  }
  .section-services .block-content {
    width: 100%;
  }
  .section-services .block-content .block-item__header {
    position: relative;
    left: 26px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 70%;
  }
  .section-services .block-content .block-item__header::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #0B6F4B;
    position: absolute;
    left: -26px;
    top: 1px;
  }
  .section-services .block-content .block-table__header {
    position: relative;
    left: 26px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 50%;
  }
  .section-services .block-content .block-table__header::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #0B6F4B;
    position: absolute;
    left: -26px;
    top: 1px;
  }
  .section-services .block-content .block-table .table__header, .section-services .block-content .block-table .table__caption {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-services {
    padding: 10px;
    flex-direction: column;
  }
  .section-services .block-list__header {
    width: 50%;
  }
  .section-services .block-content {
    width: 100%;
  }
  .section-services .block-content .block-item {
    margin-top: 25px;
  }
  .section-services .block-content .block-item__header {
    position: relative;
    left: 28px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .section-services .block-content .block-item__header::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #0B6F4B;
    position: absolute;
    left: -28px;
    top: 3px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-services {
    padding: 10px;
  }
  .section-services .block-item {
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-services {
    padding: 10px;
  }
}

.section-rates {
  margin-top: 200px;
}

.section-rates__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 350px;
  margin: auto;
}

.section-rates__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-rates .block-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.section-rates .block-content .block-rate {
  height: 700px;
  flex-basis: 30%;
  border-top: 7px solid #0B6F4B;
}

.section-rates .block-content .block-rate__header {
  margin: 20px 10px;
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  left: 0;
}

.section-rates .block-content .block-rate__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-rates .block-content .block-rate__header::before {
  display: none;
}

.section-rates .block-content .block-rate__price {
  width: 175px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px 10px;
  line-height: 25px;
  background-color: #0B6F4B;
  color: #ffffff;
}

.section-rates .block-content .block-rate__img {
  border: 3px solid #0B6F4B;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 112.5px;
  width: 150px;
  height: 150px;
}

.section-rates .block-content .block-rate__list {
  height: 325px;
  list-style-type: initial;
  padding: 25px;
  text-align: left;
}

.section-rates .block-content .block-rate__button {
  width: 165px;
  height: 50px;
  margin-left: 10px;
  background-color: #0B6F4B;
}

.section-rates .block-content .block-rate__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 48px;
  font-weight: bold;
  color: #ffffff;
}

.section-rates .block-content .block-rate:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {
  .section-rates__header {
    width: 80%;
    position: relative;
    left: 28px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .section-rates__header::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #0B6F4B;
    position: absolute;
    left: -28px;
    top: 3px;
  }
  .section-rates .block-content {
    flex-wrap: wrap;
  }
  .section-rates .block-content .block-rate {
    height: 850px;
    flex-basis: 60%;
    margin-top: 25px;
  }
  .section-rates .block-content .block-rate__img {
    width: 200px;
    height: 200px;
    margin-left: 27.5px;
  }
  .section-rates .block-content .block-rate__button {
    margin-left: 37.5px;
  }
  .section-rates .block-content .block-rate__list {
    height: 420px;
  }
  .section-rates .block-content .block-rate:hover {
    transform: none;
    box-shadow: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-rates .block-content {
    flex-wrap: wrap;
  }
  .section-rates .block-content .block-rate {
    height: 750px;
    flex-basis: 60%;
    margin-top: 25px;
  }
  .section-rates .block-content .block-rate__img {
    width: 200px;
    height: 200px;
    margin-left: 67.5px;
  }
  .section-rates .block-content .block-rate__button {
    margin-left: 107.5px;
  }
  .section-rates .block-content .block-rate:hover {
    transform: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-rates .block-content {
    flex-wrap: wrap;
  }
  .section-rates .block-content .block-rate {
    height: 750px;
    flex-basis: 60%;
    margin-top: 25px;
  }
  .section-rates .block-content .block-rate__img {
    width: 200px;
    height: 200px;
    margin-left: 142.5px;
  }
  .section-rates .block-content .block-rate__button {
    margin-left: 157.5px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-rates .block-content .block-rate {
    height: 800px;
  }
  .section-rates .block-content .block-rate__list {
    height: 400px;
  }
}
/*# sourceMappingURL=services.css.map */