ul, body, html {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #60606E;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input[type=submit], button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  color: #60606E;
  font-family: "Open Sans", sans-serif;
}

button:hover, input[type=submit]:hover, button:focus:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #60606E;
  font-size: 14px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.content-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.fotorama {
  width: 720px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #60606E;
  font-family: "Montserrat", sans-serif;
}

.header .head {
  margin-top: 20px;
}

.header .head__title {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .head__phone {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #0B6F4B;
}

.header .navigation {
  margin-top: 20px;
}

.header .navigation .menu {
  display: flex;
  height: 30px;
  align-items: center;
}

.header .navigation .menu__item {
  padding-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .navigation .menu__item a:hover {
  color: #0B6F4B;
}

@media (max-width: 575px) {
  .header {
    padding: 10px;
    z-index: 0;
  }
  .header .navigation {
    position: relative;
    border-bottom: 12px double #0B6F4B;
    border-top: 4px solid #0B6F4B;
    cursor: pointer;
    height: 4px;
    padding-top: 4px;
    transition: all 0.2s ease 0s;
    width: 30px;
  }
  .header .navigation .menu {
    display: none;
    flex-direction: column;
    position: relative;
    opacity: 0;
    top: 30px;
    right: 70px;
    transition: all 0.5s ease-out;
  }
  .header .navigation .menu__item {
    width: 170px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #60606E;
  }
  .header .navigation .menu__item:not(:last-child) {
    border-bottom: none;
  }
  .header .navigation .menu__item:hover {
    border-left: 3px solid #0B6F4B;
  }
  .header .navigation .menu__item:hover__link {
    color: #0B6F4B;
  }
  .header .navigation:hover .menu {
    display: flex;
    opacity: 100%;
  }
  .header .navigation {
    z-index: 1;
  }
  .header .head__title {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding: 10px;
  }
  .header .navigation {
    position: relative;
    border-bottom: 12px double #0B6F4B;
    border-top: 4px solid #0B6F4B;
    cursor: pointer;
    height: 4px;
    padding-top: 4px;
    transition: all 0.2s ease 0s;
    width: 30px;
  }
  .header .navigation .menu {
    display: none;
    flex-direction: column;
    position: relative;
    opacity: 0;
    top: 30px;
    right: 70px;
    transition: all 0.5s ease-out;
  }
  .header .navigation .menu__item {
    width: 170px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #60606E;
  }
  .header .navigation .menu__item:not(:last-child) {
    border-bottom: none;
  }
  .header .navigation .menu__item:hover {
    border-left: 3px solid #0B6F4B;
  }
  .header .navigation .menu__item:hover__link {
    color: #0B6F4B;
  }
  .header .navigation:hover .menu {
    display: flex;
    opacity: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .header {
    padding: 10px;
  }
  .header .head__title {
    font-size: 20px;
  }
  .header .navigation .menu {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.section-main-title {
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

.section-main-title .top-min-title {
  width: 120px;
  margin: 0 auto;
  background-color: #0B6F4B;
  color: #ffffff;
  font-size: 18px;
}

.section-main-title .title {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: 10px solid #60606E;
}

.section-main-title .subtitle {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.section-main-title .subtitle-pages {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #0B6F4B;
}

@media (max-width: 575px) {
  .section-main-title {
    padding: 10px;
  }
  .section-main-title .title {
    font-size: 26px;
  }
  .section-main-title .subtitle {
    font-size: 16px;
  }
  .section-main-title .subtitle-pages {
    width: 80%;
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-main-title {
    padding: 10px;
  }
}

.section-feedback-form {
  display: flex;
  width: 100%;
  margin-top: 200px;
  background-color: #0B6F4B;
}

.section-feedback-form .block-left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 40px;
  color: #ffffff;
}

.section-feedback-form .block-left-content__header {
  font-size: 30px;
  line-height: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.section-feedback-form .block-left-content__button-form {
  width: 160px;
  height: 50px;
  margin-top: 20px;
  color: #0B6F4B;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.section-feedback-form .window {
  width: 35%;
  margin: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.section-feedback-form .window__header {
  margin: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.section-feedback-form .window__paragraph {
  margin: 0 20px 20px;
  font-size: 16px;
}

.section-feedback-form .window .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-feedback-form .window .form .block-left-input {
  width: 50%;
}

.section-feedback-form .window .form__input {
  width: 200px;
  height: 25px;
  margin: 0 40px 20px 20px;
  border: 1px solid #0B6F4B;
}

.section-feedback-form .window .form__input_type_submit {
  width: 150px;
  height: 50px;
  background-color: #0B6F4B;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .section-feedback-form {
    flex-direction: column;
  }
  .section-feedback-form .block-left-content {
    display: none;
  }
  .section-feedback-form .window {
    width: 90%;
    margin: 40px auto;
  }
  .section-feedback-form .window__header {
    font-size: 18px;
  }
  .section-feedback-form .window__paragraph {
    font-size: 14px;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
  .section-feedback-form .window .form__input:not([type=submit]) {
    width: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-feedback-form {
    flex-direction: column;
  }
  .section-feedback-form .block-left-content {
    display: none;
  }
  .section-feedback-form .window {
    width: 90%;
    margin: 40px auto;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
  .section-feedback-form .window .form__input:not([type=submit]) {
    width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-feedback-form .block-left-content__header {
    font-size: 28px;
  }
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-feedback-form .window .form {
    flex-wrap: wrap;
  }
}

@media (min-width: 1300px) {
  .section-feedback-form {
    width: 1280px;
    position: relative;
    right: 40px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  margin-top: 50px;
}

.footer .menu {
  display: flex;
}

.footer .menu__item {
  padding-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer .menu__item a:hover {
  color: #0B6F4B;
}

.footer .social {
  display: flex;
}

.footer .social__item img {
  width: 35px;
}

@media (max-width: 575px) {
  .footer {
    padding: 10px;
    height: 50px;
    margin-top: 0;
    flex-wrap: nowrap;
  }
  .footer .menu {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    padding: 10px;
  }
  .footer .menu {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .footer {
    padding: 10px;
  }
}

.section-information-about-us {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.section-information-about-us .left-img {
  width: 40%;
  height: 40%;
}

.section-information-about-us .information {
  width: 50%;
}

.section-information-about-us .information__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-information-about-us .information__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-information-about-us .information__info {
  margin-top: 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}

.section-information-about-us .information__button-next {
  float: right;
  width: 150px;
  height: 50px;
  background-color: #0B6F4B;
}

.section-information-about-us .information__link-next {
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  line-height: 48px;
}

@media (max-width: 575px) {
  .section-information-about-us {
    padding: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-information-about-us .information {
    width: 90%;
  }
  .section-information-about-us .information__header {
    width: 90%;
    position: relative;
    left: 26px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .section-information-about-us .information__header::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #0B6F4B;
    position: absolute;
    left: -26px;
    top: 1px;
  }
  .section-information-about-us .information .block-button {
    margin-top: 10px;
  }
  .section-information-about-us .left-img {
    margin-top: 50px;
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-information-about-us {
    padding: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-information-about-us .information {
    width: 90%;
  }
  .section-information-about-us .information__header {
    position: relative;
    left: 28px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .section-information-about-us .information__header::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #0B6F4B;
    position: absolute;
    left: -28px;
    top: 3px;
  }
  .section-information-about-us .information .block-button {
    margin-top: 10px;
  }
  .section-information-about-us .left-img {
    margin-top: 50px;
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-information-about-us {
    padding: 10px;
    justify-content: space-around;
  }
  .section-information-about-us .information__header {
    position: relative;
    left: 28px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .section-information-about-us .information__header::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #0B6F4B;
    position: absolute;
    left: -28px;
    top: 3px;
  }
  .section-information-about-us .information .block-button {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-information-about-us {
    padding: 10px;
    justify-content: space-around;
  }
  .section-information-about-us .information .block-button {
    margin-top: 10px;
  }
}

.section-advantages {
  margin-top: 200px;
}

.section-advantages__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 38%;
  margin: 0 auto;
}

.section-advantages__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-advantages .content-advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section-advantages .content-advantages .block-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  text-transform: uppercase;
}

.section-advantages .content-advantages .block-lists .advantages-list {
  width: 50%;
  margin-bottom: 50px;
}

.section-advantages .content-advantages .block-lists .advantages-list__header {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-advantages .content-advantages .block-lists .advantages-list__min-logo {
  width: 28px;
  height: 28px;
}

.section-advantages .content-advantages .block-lists .advantages-list__min-logo_number_1 {
  margin-bottom: 8px;
  height: 20px;
  width: 32px;
}

.section-advantages .content-advantages .block-lists .advantages-list__item {
  padding: 5px 0;
}

.section-advantages .content-advantages .right-img {
  margin-top: 20px;
  width: 40%;
  height: 40%;
}

@media (max-width: 575px) {
  .section-advantages {
    padding: 10px;
  }
  .section-advantages__header {
    position: relative;
    left: 26px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 85%;
  }
  .section-advantages__header::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #0B6F4B;
    position: absolute;
    left: -26px;
    top: 1px;
  }
  .section-advantages .content-advantages {
    flex-direction: column;
  }
  .section-advantages .content-advantages .block-lists {
    width: 100%;
    text-align: center;
  }
  .section-advantages .content-advantages .block-lists .advantages-list {
    margin-bottom: 100px;
    width: 100%;
  }
  .section-advantages .content-advantages .right-img {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .section-advantages {
    padding: 10px;
  }
  .section-advantages__header {
    position: relative;
    left: 28px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 350px;
  }
  .section-advantages__header::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #0B6F4B;
    position: absolute;
    left: -28px;
    top: 3px;
  }
  .section-advantages .content-advantages {
    flex-direction: column;
  }
  .section-advantages .content-advantages .block-lists {
    width: 100%;
    text-align: center;
  }
  .section-advantages .content-advantages .right-img {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section-advantages {
    padding: 10px;
  }
  .section-advantages__header {
    width: 450px;
  }
}

.section-portfolio {
  margin-top: 200px;
}

.section-portfolio__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 350px;
  margin: 0 auto;
}

.section-portfolio__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-portfolio .content-portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section-portfolio .block-category {
  font-family: "Montserrat", sans-serif;
}

.section-portfolio .block-category__header {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-portfolio .block-category .category-list {
  margin-top: 25px;
}

.section-portfolio .block-category .category-list__button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  color: #60606E;
}

.section-portfolio .block-category .category-list__button:hover {
  background-color: #0B6F4B;
  color: #ffffff;
}

.section-portfolio .block-category .category-list__button .room {
  background-color: #0B6F4B;
  color: #ffffff;
}

.section-portfolio .block-slider {
  display: none;
}

.section-portfolio .block-slider .fotorama {
  margin-bottom: 50px;
  border: 5px solid #0B6F4B;
}

.section-portfolio .block-slider_item_1 {
  display: block;
}

@media (max-width: 575px) {
  .section-portfolio {
    padding: 10px;
  }
  .section-portfolio__header {
    position: relative;
    left: 26px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 85%;
  }
  .section-portfolio__header::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #0B6F4B;
    position: absolute;
    left: -26px;
    top: 1px;
  }
  .section-portfolio .content-portfolio {
    flex-direction: column;
    align-items: center;
  }
  .section-portfolio .block-category__header {
    text-align: center;
  }
  .section-portfolio .block-category .category-list {
    margin-top: 10px;
  }
  .section-portfolio .block-category .category-list__button {
    text-align: center;
  }
  .section-portfolio .block-slider {
    margin-top: 50px;
  }
  .section-portfolio .block-slider .fotorama {
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section-portfolio {
    padding: 10px;
  }
  .section-portfolio__header {
    width: 330px;
  }
  .section-portfolio .content-portfolio {
    flex-direction: column;
    align-items: center;
  }
  .section-portfolio .block-category {
    width: 70%;
  }
  .section-portfolio .block-category__header {
    text-align: center;
  }
  .section-portfolio .block-category .category-list {
    margin-top: 10px;
  }
  .section-portfolio .block-category .category-list__button {
    text-align: center;
  }
  .section-portfolio .block-slider {
    margin-top: 50px;
  }
  .section-portfolio .block-slider .fotorama {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .section-portfolio {
    padding: 10px;
  }
  .section-portfolio .fotorama {
    width: 480px;
  }
}
/*# sourceMappingURL=index.css.map */