.section-information-about-us {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.section-information-about-us .left-img {
  width: 500px;
}

.section-information-about-us .information {
  width: 50%;
}

.section-information-about-us .information__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-information-about-us .information__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-information-about-us .information__info {
  margin-top: 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}

.section-information-about-us .information .block-button {
  display: flex;
  justify-content: flex-end;
}

.section-information-about-us .information .block-button__button-next {
  width: 150px;
  height: 50px;
  background-color: #0B6F4B;
}

.section-information-about-us .information .block-button__button-next a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  line-height: 48px;
}

.section-advantages {
  margin-top: 200px;
}

.section-advantages__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 450px;
  margin: 0 auto;
}

.section-advantages__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-advantages .content-advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section-advantages .content-advantages .block-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  text-transform: uppercase;
}

.section-advantages .content-advantages .block-lists .advantages-list {
  width: 50%;
  margin-bottom: 50px;
}

.section-advantages .content-advantages .block-lists .advantages-list__header {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-advantages .content-advantages .block-lists .advantages-list__min-logo {
  width: 28px;
  height: 28px;
}

.section-advantages .content-advantages .block-lists .advantages-list__min-logo_number_1 {
  margin-bottom: 8px;
  height: 20px;
  width: 32px;
}

.section-advantages .content-advantages .block-lists .advantages-list__item {
  padding: 5px 0;
}

.section-advantages .content-advantages .right-img {
  margin-top: 20px;
  height: 412px;
}

.section-portfolio {
  margin-top: 200px;
}

.section-portfolio__header {
  position: relative;
  left: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 350px;
  margin: 0 auto;
}

.section-portfolio__header::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0B6F4B;
  position: absolute;
  left: -30px;
  top: 3px;
}

.section-portfolio .content-portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section-portfolio .block-category {
  font-family: "Montserrat", sans-serif;
}

.section-portfolio .block-category__header {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-portfolio .block-category .category-list {
  margin-top: 25px;
}

.section-portfolio .block-category .category-list__button {
  width: 250px;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  color: #60606E;
}

.section-portfolio .block-category .category-list__button:hover {
  background-color: #0B6F4B;
  color: #ffffff;
}
/*# sourceMappingURL=index.css.map */